{namespace VH=Nng\Nnfaq\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">

	<div class="nnfaq-results">

		<f:if condition="{results}">
			<f:then>
				<h4>Einträge, die keiner Kategorie zugeordnet sind:</h4>
			</f:then>
			<f:else>
				<h4><i class="fas fa-folder"></i> Keine Waisen</h4>
				<p>Ist eine Frage keiner Kategorie zugeordnet oder die Kategorie wurde gelöscht, dann findet man sie hier wieder.<br/>
			</f:else>			
		</f:if>
		
		<div class="category" data-catuid="0">
			<div class="questions-container mt-3">
							
				<f:for each="{results}" as="question">

					<div class="card sortable-item question" data-uid="{question.uid}">
						<div class="card-header" data-toggle="collapse" data-target=".q-{question.uid}">
							<i class="fas fa-sort"></i>
							<a class="fas fa-trash remove-question" data-uid="{question.uid}" href="#"></a>
							<a class="fas fa-pen edit-question" data-uid="{question.uid}" href="#"></a>
							<p class="mb-0">
								{f:if(condition:question.question, then:question.question, else:'[ohne Titel]')}
							</p>
						</div>
						<f:comment>
							<div class="q-{question.uid} collapse" data-parent=".nnfaq-results, .results">
								<div class="card-body">
									{question.answer->f:format.html()}
								</div>
							</div>
						</f:comment>
					</div>

				</f:for>
			</div>
		</div>
</f:section>