{namespace VH=Nng\Nnfaq\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">

	<div class="nnfaq-results">
		
		<f:if condition="{categoryTreeByUid.0.children->f:count()} == 0">
			<h4><i class="fas fa-folder"></i> Fast geschafft...</h4>
			<p>Jetzt noch eine Kategorie für die FAQs anlegen.<br/>
			Dazu auf das <button class="btn btn-sm btn-success btn-create"><i class="fas fa-plus-circle"></i></button> klicken.</p>
		</f:if>

		<f:render section="questions" arguments="{category:categoryTree}" />
		
		<f:section name="questions">
			
			<f:if condition="{category.uid}">
				<div class="category mb-5" data-catuid="{category.uid}">
					<div class="row mb-2">
						<div class="col-9 pt-1">
							<h4>{f:if(condition:category.category, then:category.category, else:'[ohne Titel]')}</h4>
						</div>
						<div class="col-3 controls text-right">
							<button class="btn btn-sm btn-success btn-create-question"><i class="fas fa-plus-circle"></i></button>
						</div>
					</div>
					
					<div class="questions-container {f:if(condition:category.questions,else:'no-items')}">
										
						<f:for each="{category.questions}" as="question">
		
							<div class="card sortable-item question" data-uid="{question.uid}">
								<div class="card-header" data-toggle="collapse" data-target=".q-{question.uid}">
									<i class="fas fa-sort"></i>
									<a class="fas fa-trash remove-question" data-uid="{question.uid}" href="#"></a>
									<a class="fas fa-pen edit-question" data-uid="{question.uid}" href="#"></a>
									<p class="mb-0">
										<f:if condition="{question.rating}">
											<i class="fas fa-star text-warning"></i>
										</f:if>
										{f:if(condition:question.question, then:question.question, else:'[ohne Titel]')}
									</p>
								</div>
								<f:comment>
									<div class="q-{question.uid} collapse" data-parent=".nnfaq-results, .results">
										<div class="card-body">
											{question.answer->f:format.html()}
										</div>
									</div>
								</f:comment>
							</div>
			
						</f:for>
					</div>
				</div>
			</f:if>
						
			<f:for each="{category.children}" as="child">
				<f:render section="questions" arguments="{category:child}" />
			</f:for>
			
		</f:section>
		
	</div>
		
</f:section>