{namespace VH=Nng\Nnfaq\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">

	<div class="nnfaq-import-results">	

		<div class="nnfaq-mod p-5">

			<div class="mb-4">
				<h4>Daten erfolgreich ausgelesen</h4>
				<p>Der Testlauf hat folgende Meldungen ergeben. Bitte prüfen Sie die Hinweise und klicken Sie auf "Import", um die Aktualisierung durchzuführen.</p>
			</div>
				
			<hr />
	
			<f:for each="{importResult}" as="questions" key="catUid">
				<f:for each="{questions}" as="question" key="k" iteration="i">

					<f:if condition="{question._error}">
						<f:then>
							<f:switch expression="{question._error}">
								<f:case value="404">
									<div class="alert alert-danger">
										<code><b>Zeile {question.row}:</b></code> Frage <b>„{question.question}“</b> hat als ID <code>[{question.uid}]</code> in der ersten Spalte, aber es existiert kein Eintrag mit dieser ID in der Datenbank.
										Diese Frage wird nicht aktualisiert.
									</div>
								</f:case>
								<f:case value="405">
									<div class="alert alert-danger">
										<code><b>Zeile {question.row}:</b></code> Neue Frage <b>„{question.question}“</b> soll in Kategorie <code>[{question.catUid}]</code> erstellt werden, aber diese Kategorie existiert nicht in der DB.
										Diese Frage wird nicht generiert.
									</div>
								</f:case>
							</f:switch>
						</f:then>
						<f:else>
							<f:if condition="{question._changed}">
								<div class="alert alert-success">
									<code><b>Zeile {question.row}:</b></code> Frage <b>„{question.question}“</b> <code>[{question.uid}]</code> wurde bearbeitet.
									Sie wird beim Import aktualisiert.
								</div>
							</f:if>
							<f:if condition="{question._new}">
								<div class="alert alert-info">
									<code><b>Zeile {question.row}:</b></code> Frage <b>„{question.question}“</b> ist NEU.
									Sie wird als neue Frage in der Kategorie <b>„{categoryTreeByUid.{catUid}.category}“</b> <code>[{catUid}]</code> angelegt.
								</div>
							</f:if>
						</f:else>	
					</f:if>
				</f:for>
			</f:for>

			<hr />
		
			<div class="text-right mt-4">
				<f:form action="import">
					<f:form.hidden name="filepath" value="{file.publicUrl}" />
					<f:form.button class="btn btn-danger mr-3" name="process" value="0"><i class="fas fa-ban mr-2"></i> Abbrechen</f:form.button>
					<f:form.button class="btn btn-success" name="process" value="1"><i class="fas fa-file-import mr-2"></i> Import</f:form.button>
				</f:form>
			</div>
		</div>
	</div>
		
</f:section>