{namespace VH=Nng\Nnfaq\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
	
	<f:if condition="!{sysFolders}">
		
		<f:then>
			<div class="nnfaq-mod no-sysfolders">
				<h4><i class="fas fa-rocket"></i> Lass uns loslegen...</h4>
				<p>Als Erstes: Einen SysFolder / Ordner im Seitenbaum anlegen und unter 
				<code>Seiteneigenschaften -&gt; Reiter: Verhalten -&gt; Enthält Erweiterung</code>
				das PlugIn <code>nnfaq</code> wählen.</p>
			</div>
		</f:then>

		<f:else>
			<div class="nnfaq-mod p-4" 
				data-refreshurl="{f:uri.action(action:'index')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-editurl="{VH:modUrl(action:'edit', table:'')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-createurl="{f:uri.action(action:'createCategory')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-createquestionurl="{f:uri.action(action:'createQuestion')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-updateurl="{f:uri.action(action:'updateCategory')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-updatequestionurl="{f:uri.action(action:'updateQuestion')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-removeurl="{f:uri.action(action:'removeCategory')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-removequestionurl="{f:uri.action(action:'removeQuestion')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-resultsurl="{f:uri.action(action:'getQuestions')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-orphanssurl="{f:uri.action(action:'getOrphans')->VH:parseUri()->f:format.htmlspecialchars()}"
				data-downloadurl="{f:uri.action(action:'exportQuestions')->VH:parseUri()->f:format.htmlspecialchars()}"
			>


				<div class="mb-2 col-header col-categories-header px-3">
					<div class="row">
						<div class="col-8 pt-1">
							<h6>FAQ Kategorien</h6>
						</div>
						<div class="col-4 controls text-right">
							<button class="btn btn-sm btn-success btn-create"><i class="fas fa-plus-circle"></i></button>
							<button class="btn btn-sm btn-danger btn-delete"><i class="fas fa-trash"></i></button>
						</div>
					</div>
				</div>

				<div class="col-header col-results-header py-3">
					<div class="row">
						<div class="col-7 col-lg-5">
							<div class="row">
								<div class="input-group px-4">
									<input class="form-control form-control-sm border-right-0 border sword" type="search" placeholder="Suchen..." />
									<span class="input-group-append">
										<button class="btn btn-outline-secondary border-left-0 border" type="button">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
						</div>

						<f:if condition="{categoryTree.0.children}">
							<div class="col-5 col-lg-7 controls text-right">
								<button class="btn btn-sm btn-secondary btn-download mr-1 px-3"><i class="fas fa-cloud-download-alt"></i> Export</button>
								<button class="btn btn-sm btn-secondary btn-upload px-3"><i class="fas fa-cloud-upload-alt"></i> Upload</button>
							</div>
						</f:if>

						<f:form action="import" enctype="multipart/form-data" class="upload-form">
							<f:form.upload name="file" />
							<f:form.submit />
						</f:form>
					
					</div>
				</div>
		
				<div class="col-categories">

					<f:if condition="{sysFolders->f:count()} > 1">
						<f:then>
							<div class="mb-3">
								<div class="select">
									<select name="tx_nnfaq_web_nnfaqtxnnfaqm1[catpid]" class="form-control form-control-sm pid-selection">
										<f:for each="{sysFolders}" as="sysFolder">
											<option value="{sysFolder.pid}" {f:if(condition:'{curPid} == {sysFolder.pid}',then:'selected="selected"')}>{sysFolder.pageTitle}</option>
										</f:for>
									</select>
									<div class="select_arrow"></div>
								</div>
							</div>
							<hr class="mt-3 mb-3" />
						</f:then>
						<f:else>
							<input type="hidden" class="pid-selection" name="tx_nnfaq_web_nnfaqtxnnfaqm1[catpid]" value="{sysFolders.0.pid}" />
						</f:else>
					</f:if>						
					
					<div class="tree-container">
						<div class="tree-view"></div>
					</div>
									
					<input type="hidden" class="tree-data" value="{categoryTree->VH:treeToJson()->f:format.htmlspecialchars()}" />

					<hr class="my-4" />
					
					<div class="orphans">
						<a href="#" class="show-orphans"><i class="fas fa-dot-circle"></i> Einträge ohne Kategorie</a>
					</div>
					
				</div>
		
		
				<div class="col-questions px-5">
					<VH:flashMessages />
					<div class="results"></div>
				</div>

			</div>		
		</f:else>
	</f:if>


	
</f:section>