{namespace VH=Nng\Nnfaq\ViewHelpers}

<div class="form-control-wrap">
	<div class="form-wizards-wrap">
		<div class="form-wizards-element">
			<f:render section="content" arguments="{_all}" />
		</div>
		<div class="form-wizards-items-bottom">
			{fieldWizardHtml}
		</div>
	</div>
</div>

<f:section name="content">

	<div class="tca-nnfaq-cattree">
	
		<input type="hidden" class="nnfaq-input" name="{PA.itemFormElName}" value="{PA.itemFormElValue->VH:join()}" />
				
		<ul>
			<f:render section="category-branch" arguments="{branch:'{children:categoryTree}', PA:PA, uid:uid}" />
		</ul>

		<f:if condition="{categoryTree.0.children->f:count()} == 0">
			<p>Keine Kategorien zu sehen? Dann wurden evtl. noch keine angelegt – oder das Feld "Datensatzsammlung" zeigt auf den falschen Ordner.</p>
		</f:if>

		<f:section name="category-branch">

			<f:for each="{branch.children}" as="child" iteration="i">
				<li>
					<div class="{f:if(condition:'{config.maxitems} > 1',then:'checkbox',else:'radio')} {f:if(condition:'{uid} == {child.uid}', then:'disabled current')}">
						<label>
							<f:if condition="{config.maxitems} > 1">
								<f:then>
									<f:if condition="{uid} == {child.uid}">
										<f:then>
											<i class="fas fa-arrow-circle-right"></i>
										</f:then>
										<f:else>
											<input type="radio" class="cat-item" name="tree" {f:if(condition:'{uid} == {child.uid}', then:'disabled')} value="{child.uid}" {f:if(condition:'{child.uid} == {PA.itemFormElValue}',then:'checked="checked"')} />
										</f:else>
									</f:if>
								</f:then>
								<f:else>
									<f:if condition="{child.uid}">
										<input type="checkbox" name="tree" class="cat-item" value="{child.uid}" {f:if(condition:'{uid} == {child.uid}', then:'disabled')} {f:if(condition:'{PA.itemFormElValue.{child.uid}}',then:'checked="checked"')} />
									</f:if>
								</f:else>
							</f:if>
							<span>
								<f:if condition="{child.hidden}"><i class="fas fa-ban"></i></f:if>
								<f:if condition="{child.uid}">
									<f:then>
										{child.category} [{child.uid}]
									</f:then>
									<f:else>
										<b>Kategorien</b>
									</f:else>
								</f:if>
							</span>
						</label>
					</div>
										
					<f:if condition="{child.children}">
						<ul>
							<f:render section="category-branch" arguments="{branch:child, PA:PA, uid:uid}" />
						</ul>
					</f:if>
				</li>
			</f:for>
		</f:section>
		
	</div>
</f:section>
