
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

.tca-nnfaq-cattree {
	max-width: 600px;
	background-color: #fff;
	border: 1px solid #bbbbbb;
	padding: 20px 25px;
}

.tca-nnfaq-cattree ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.tca-nnfaq-cattree label {
	margin: 0;
	padding: 0;
}

.tca-nnfaq-cattree ul ul {
	margin: 0 0 0 25px;
}

.tca-nnfaq-cattree .radio {
	margin: 5px 0 5px 0;
}
.tca-nnfaq-cattree .disabled {
	color: #aaa;
}

.tca-nnfaq-cattree span {
	display: inline-block;
	margin-top: 2px;
}

.tca-nnfaq-cattree input:checked ~ span {
	font-weight: bold;
}

.tca-nnfaq-cattree > ul > li > ul {
	margin-left: 0;
}

.tca-nnfaq-cattree .fa-ban {
	color: #ff0000;
}

.tca-nnfaq-cattree .fas,
.tca-nnfaq-cattree .far,
.tca-nnfaq-cattree .fa {
	font-size: 120%;
	vertical-align: middle;
}

