<!--
	===========================================================================================
	EXT:nnfaq/Resources/Private/Partials/Questions.html
-->

{namespace VH=Nng\Nnfaq\ViewHelpers}

<f:render section="category-questions" arguments="{_all}" />

<f:section name="category-questions">

	<f:for each="{branch.children}" as="category" iteration="i">

		<f:if condition="{category.questions}">
		
			<div class="nnfaq-result-category lv-{category.depth} {f:if(condition:'{curCategory.uid} == {category.uid} || {curCategory.uid} == {category.parent.parent.uid}',then:'category-hit')}" data-catuid="{category.uid}">
				
				<f:if condition="{showTitle}">
					<h2>{category.category}</h2>
				</f:if>
				
				<ul class="nnfaq-questions {f:if(condition:'{curCategory.uid} == {category.uid}',then:'search-found')}" data-catuid="{category.uid}">
			
					<f:for each="{category.questions}" as="question">

						<f:if condition="{prio} <= {question.rating}">
						
						
							<li data-uid="{question.uid}" data-catuid="{category.uid}" class="nnfaq-result-item q-{question.uid} {f:if(condition:'{curCategory.uid} == {category.uid} || {curCategory.uid} == {category.parent.parent.uid}',then:'category-hit')} {f:if(condition:'{curQuestion.uid} == {question.uid}',then:'highlight')}">
					
								<h3 class="nnfaq-question {f:if(condition:'{curQuestion.uid} == {question.uid}',then:'open')}">
									<f:link.action pageUid="{TSFE.id}" action="categories" arguments="{question:question.uid, category:category.uid}">
										{question.question}
									</f:link.action>
								</h3>

								<div class="nnfaq-answer">
									<div class="inner">
										<f:if condition="{question.answer}">
											<f:format.html>{question.answer}</f:format.html>
										</f:if>
										<f:if condition="{question.additionalContentAnswer}">
											<div class="nnfaqAdditionalAnswerContent">
												<f:cObject typoscriptObjectPath="lib.tx_nnfaq.contentElementRendering">{question.contentElementIdList}</f:cObject>
											</div>
										</f:if>
										<f:if condition="{question.media}">
											<div class="nnfaq-answer-media">
												<f:for each="{question.media}" as="media">
													<f:switch expression="{media.originalResource.type}">
														<f:case value="4">
															<div class="nnfaq-answer-video">
																<f:media file="{media}" />
															</div>
														</f:case>
														<f:defaultCase>
															<div class="nnfaq-answer-image">
																<f:image image="{media}" class="img-responsive" maxWidth="950" />
															</div>
														</f:defaultCase>
													</f:switch>

												</f:for>
											</div>
										</f:if>
									</div>
									<f:if condition="{question.keywords}">
										<div class="nnfaq-keywords">{question.keywords->f:format.html()}</div>
									</f:if>
								</div>
							</li>
						</f:if>
					</f:for>
				</ul>
			</div>
		
		</f:if>
		
		<f:if condition="{category.children}">
			<f:render section="category-questions" arguments="{branch:category, curCategory:curCategory, curQuestion:curQuestion, showTitle:showTitle, prio:prio}" />
		</f:if>
	</f:for>
	
</f:section>