<!--
	===========================================================================================
	EXT:nnfaq/Resources/Private/Partials/SearchForm.html
-->


<form class="nnfaq-search">
	<div class="form-group">
		<label>{f:translate(key:'nnfaq_searchboxLabel')}</label>
		<span class="xbox-wrap">
			<input type="search" class="form-control nnfaq-sword" placeholder="{f:translate(key:'nnfaq_searchboxLabel')}">
			<a href="#" class="glyphicon glyphicon-remove nnfaq-searchicon nnfaq-searchreset"></a>
			<a href="#" class="glyphicon glyphicon-search nnfaq-searchicon nnfaq-searchsymbol"></a>
		</span>
	</div>
</form>