.tx-nnfaq {
    margin-top: 30px;
    margin-bottom: 80px;
}

.nnfaq-nav {
    margin-bottom: 30px;
	background-color: #eef6f9;
    border: 1px solid #d9e7f5;
    padding: 25px 25px 20px;
	line-height: 2;
    top: 25px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.nnfaq-nav h3 {
	font-size: 2rem;
    font-family: open_sanssemibold, Trebuchet, Verdana, Arial, sans-serif;
    text-transform: uppercase;
}

.nnfaq-nav li {
    margin-top: 5px;
    list-style: none;
}

.nnfaq-nav ul {
	margin-bottom: 10px;
}

.nnfaq-nav a.lv-0 {
	font-weight: bold;
}

.nnfaq-nav ul li a {
    text-decoration: none;
    display: block;
}

.nnfaq-nav a.active {
    font-family: open_sanssemibold, Trebuchet, Verdana, Arial, sans-serif;
	color: #5682a7;
    padding: 3px 10px 3px 25px;
    margin: 7px -25px 5px -25px;
    background: rgba(98, 158, 210, 0.15);
    text-decoration: none !important;
    font-weight: bold;
}

.nnfaq-nav li.active.children {
	 background: rgba(98, 158, 210, 0.1);
	 margin: 0 0 3px -10px;
	 padding: 0 0 2px 10px;
}

.nnfaq-nav a:hover,
.nnfaq-nav a:focus,
.nnfaq-nav a:active {
    text-decoration: underline;
	cursor: pointer;
}

.nnfaq-nav h3 {
	font: 2rem/1.4 open_sanssemibold, Trebuchet, Verdana, Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #4c4c4c;
}

.nnfaq-categories {
	margin: 0;
	padding: 2px 0 3px 0;
}


/*
 ----------------------- 
*/


.nnfaq-result-category > h2 {
	font: 1.7rem/1.4 open_sansbold, Trebuchet, Verdana, Arial, sans-serif;
	color: #5682a7;
	margin: 0 0 10px 0;
	font-weight: normal;
	background-color: #eef6f9;
    padding: 10px 20px;
}

.nnfaq-result-category.highlight {
	display: block;
}

.nnfaq-result-item {
	transition: 0.2s background-color;
}

.nnfaq-result-item.highlight {
	background-color: #fdecd8;
}

.nnfaq-result-item.highlight .nnfaq-answer {
	display: block;
}

/*
 ----------------------- 
*/

.nnfaq-questions {
	padding: 0;
	margin: 0;
}

.nnfaq-result-item {
    list-style: none;
    margin: 0;
    padding: 7px 20px 7px 20px;
	position: relative;
	border-bottom: 1px solid #eee;
}


.nnfaq-result-category .glyphicon-chevron-right {
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
	margin: 5px 2px 0 2px;
}

.nnfaq-categories .nnfaq-result-item:last-child {
	border-bottom: 0;
	margin: 0 0 30px;
}

.nnfaq-questions ul {
    margin: 15px;
}

.tx-nnfaq mark {
	padding: 0;
    background: #ffede0;
    display: inline-block;
    font-size: inherit;
    text-decoration: inherit;
}

.tx-nnfaq .marked {
	background-color: #ffe1cc;
}
	
.tx-nnfaq .share-answer span {
	float: right;
	font-size: 1.3rem;
	margin: 5px 0 0 0;
	color: rgba(0,0,0,0);
}

.tx-nnfaq .share-answer:hover span {
	color: #333;
}

.tx-nnfaq .toggleTrigger-box {
	position: relative;
}

.tx-nnfaq .nnfaqCategory {
	display: none;
    padding: 0 15px;
}

.tx-nnfaq .nnfaqCategory#faqcat-7 {
	display: block;
}

.nnfaq-result-item h3 a,
.nnfaq-result-item h3 {
	padding: 8px 40px 4px 0;
    margin: 0;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.5;
    color: #4c4c4c;
    font-weight: normal;
    font-family: open_sansregular, Trebuchet, Verdana, Arial, sans-serif;
    text-decoration: none !important;
}

.nnfaq-result-item h3:hover {
    color: #0063A7;
}

.nnfaq-result-item h3:after {
    content:"\e259";
    position: absolute;
    top: 12px;
	right: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}

.nnfaq-result-item h3.open a,
.nnfaq-result-item h3.open {
	font-family: open_sansbold, Trebuchet, Verdana, Arial, sans-serif;
}

.nnfaq-result-item h3.open:after {
	-webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.nnfaq-search {
	margin: 0 0 15px 0;
}

.nnfaq-search .form-group {
	margin-bottom: 5px;
}

.tx-nnfaq label,
.tx-nnfaq .nnfaqHideAll,
.nnfaq-answer,
.tx-nnfaq #nnfaq-filter-count {
    display: none;
}

.nnfaq-catview h1 {
    font-size: 2rem;
    color: #4c4c4c;
    margin: 20px 0;
	text-transform: uppercase;
}

.nnfaq-catview p {
    margin-bottom: 15px;
}

.nnfaq-catview .questionnumbers div {
	margin-bottom: 10px;
}

.nnfaq-answer .inner {
	padding: 10px 0;
}

.nnfaq-answer p {
	font-size: 1.4rem;
}

.nnfaq-answer .inner p:last-child {
	margin: 0;
}

.nnfaq-searchreset {
	display: none;
}

.nnfaq-nav .nnfaq-searchicon{
	position: absolute;
    right: 25px;
    top: 11px;
}

.nnfaq-nav .nnfaq-searchicon:hover {
	text-decoration: none;
	opacity: .75;
}

.nnfaq-search .xbox-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
}

.nnfaq-keywords {
	display: none;
}

.nnfaq-link-cat {
	font-size: 1.4rem;
	hyphens: initial;
}

.nnfaq-catdropdown button {
	display: block;
	width: 100%;
	text-align: left;
	padding-right: 20px;
}

.nnfaq-catdropdown button .caret {
	position: absolute;
	right: 10px;
	top: 15px;
}

.nnfaq-catdropdown .current-cat {
	max-width: 100%;
	overflow: hidden;
	display: block;
}

.nnfaq-catdropdown span {
	font-size: 1.3rem;
}

.nnfaq .nnfaq-catselect > .active > a, 
.nnfaq .nnfaq-catselect > .active > a:focus, 
.nnfaq .nnfaq-catselect > .active > a:hover {
	color: #5581a7;
	padding: 4px 20px;
	margin: 0;
	background-color: #d0e3f0;
}

/* --------------------------------------------------------------------
	Filtern nach Kategorie
*/

.filter-category .nnfaq-result-category {
	display: none;
}

.filter-category .category-hit {
	display: block;
}

/* --------------------------------------------------------------------
	Filtern nach Suchwort
*/

.filter-keyword .nnfaq-result-item,
.filter-keyword .nnfaq-result-category {
	display: none;
}

.filter-keyword .keyword-hit {
	display: block;
}

.filter-keyword .nnfaq-nav .nnfaq-link-cat {
	opacity: 0.2;
	-webkit-opacity: 0.2;
	pointer-events: none;
}

.filter-keyword .nnfaq-nav .keyword-hit {
	opacity: 1;
	-webkit-opacity: 1;
	pointer-events: all;
}

/* --------------------------------------------------------------------
	Filtern nach Kategorie + Suchwort
	(nach Eingabe des Keywords wird Kategorie gefiltert)
*/

.filter-category.filter-keyword .nnfaq-result-item,
.filter-category.filter-keyword .nnfaq-result-category {
	display: none;
}

.filter-category.filter-keyword .category-hit.keyword-hit {
	display: block;
}



/* ----------------------- */

#c2896 .csc-header-n1 h1 {
    margin-bottom: 15px;
}

@media (min-width: 992px) {
	.nnfaq-search .form-control {
		max-width: 260px;
	}
	
	.nnfaq-searchicon {
		right: 10px !important;
	}
}


/* ----------------------- */

.nnfaq-questionsonly {
	border-top: 1px dotted #ddd;
	margin: 0 0 45px 0;
}

.nnfaq-questionsonly .filter-category .nnfaq-result-category {
	display: block;
}

.nnfaq-answer-media {
	margin-top: 30px;
}

.nnfaq-answer-image,
.nnfaq-answer-video {
	margin: 0 0 30px 0;
}

.nnfaq-answer-video {
	position: relative;
	padding-bottom: 56.25%;
	background-color: #000;
}
.nnfaq-answer-video iframe {
	border: none;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	height: 100%;
}

.nnfaq-answer-media > div:last-child {
	margin-bottom: 5px;
}

