
body {
	font-family: Lato;
}

.jstree-default-large .jstree-node,
.jstree-default-large .jstree-icon,
.jstree-default-small .jstree-folder,
.jstree-default-small .jstree-file,
.jstree-default .jstree-icon,
#jstree-dnd.jstree-default .jstree-ok, 
#jstree-dnd.jstree-default .jstree-er {
	background-image: url("jstree/flat.png");
}

#jstree-marker {
	border-left-color: #fff;
}

.jstree-default .jstree-themeicon-custom {
	background-image: none;
}

.jstree-grid-wrapper {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.upload-form {
	height: 1px;
	position: absolute;
	overflow: hidden;
	opacity: 0;
}

.no-sysfolders {
	padding: 100px;
}

.nnfaq-import-results,
.col-questions,
.col-categories {
	position: absolute;
	top: 60px; left: 0; bottom: 0;
	overflow: auto;
}

.nnfaq-import-results {
	top: 0;
}

.col-categories-header,
.col-results-header {
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 1000;
	height: 62px;
}

.col-categories {
	width: 300px;
	background-color: #4c394b;
	padding: 30px 15px 60px 15px;
}

.col-header {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
	top: 0; left: 0; right: 0;
}

.col-results-header,
.col-questions {
	left: 300px;
	overflow: auto;
	width: calc(100% - 300px);
	padding: 30px 47px 30px 30px;
	z-index: 1000;
}

.col-questions {
	padding-top: 45px;
}

.col-categories-header {
    width: 300px;
    background-color: #604e63;
    border-bottom: none;
    padding-top: 18px;
}

#jstree-dnd.jstree-default,
.show-orphans,
.jstree-anchor {
	font: 0.9rem/1.2 Lato, Verdana,Arial,Helvetica,sans-serif;
}

.jstree-default .jstree-clicked .jstree-icon,
.jstree-default .jstree-wholerow-clicked .jstree-icon {
	color: #fbfbfb;
}

.jstree-default .jstree-hovered,
.jstree-default .jstree-wholerow-hovered {
	background: rgba(0,0,0,0.5);
	color: #eee;
	box-shadow: none;
}

.jstree-default .jstree-clicked,
.jstree-default .jstree-wholerow-clicked {
	background: #507996;
	box-shadow: none;
	border-radius: 0;
	color: #fbfbfb;
}

.jstree-default .jstree-clicked .edit-category,
.jstree-default .jstree-wholerow-clicked .edit-category {
	color: rgba(255,255,255,0.7);
}

.full-height,
.nnfaq-mod .edit-frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.jstree-grid-separator-regular {
	display: none;
}
.jstree-grid-header {
	font: 0.9rem/1.2 Lato;
	font-weight: 700;
}

.nnfaq-mod h6,
.nnfaq-mod h4 {
	font: 1.1rem/1.2 Lato;
	font-weight: 700;
}

.col-categories-header h6 {
	text-transform: uppercase;
	font-size: 1rem;
    color: #eee;
	letter-spacing: 0.1em;
}

.nnfaq-mod textarea {
	width: 100%;
	min-height: 300px;
}

.loading {
	opacity: 0.8;
	pointer-events: none;
}

.results .card {
	border-radius: 0;
	border: none;
}

.results .card-header {
	padding: .45rem 1rem;
	border-radius: 0;
}

.category > h3 {
	font-family: Lato;
	font-size: 1.2rem;
}

.category h3 {
	margin-top: 15px;
}

.category h4 {
	font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #444;
}


.ui-sortable-helper {
	opacity: 0.2;
	pointer-events: none;
	z-index: 2000;
}

.card-header,
.dragging * {
	cursor: move;
}

.clone *,
.clone {
	cursor: copy !important;
}

.card-header .edit-question,
.card-header .remove-question {
	float: right;
	margin: 4px 0 0 15px;
	font-size: 1.1rem;
	opacity: 0;
	transition: 0.2s all;
}
.card-header .fas {
	color: #000;
}
.card-header .fas:hover {
	text-decoration: none;
}
.card-header:hover .fas {
	opacity: 1;
}
.dragging .card-header:hover .fas {
	opacity: 0;
}

.card-header .fa-sort {
	float: left;
	color: #aaa;
	cursor: move;
	padding-top: 5px;
}
.card-header p {
	margin: 0 35px 0 25px;
}

.no-items .sortable-item {
	min-height: 40px;
}

.questions-container.no-items {
	min-height: 40px;
	border: 1px dotted #999;	
}
.dragging .questions-container.no-items:hover {
	background-color: #eee;
}

.tree-view .edit-category {
	opacity: 0;
	transition: 0.1s all;
	color: #c3bdbe;
	padding: 6px 2px 0 0;
	font-size: 0.8rem;
	text-decoration: none;
}

.grid-header {
	max-height: 0;
	overflow: hidden;
	background-color: transparent !important;
}

.tree-view .jstree-grid-cell {
	padding-left: 0;
}
.tree-view > ul > li > .jstree-icon {
	display: none;
}

.tree-view li[aria-level="1"],
.tree-view li[aria-level="2"] {
	margin-left: 0 !important;
}
.jstree-default .jstree-node {
	margin-left: 20px !important;
	color: #c3bdc2;
}

.jstree-clicked .edit-category,
.jstree-hovered .edit-category {
	opacity: 1;
}
.col-categories .fa-dot-circle,
.tree-view .fa-folder-open {
	color: #507996;
}
.tree-view .fa-ban {
	color: #ef4d4e;
}

.no-cat-selected .btn-delete {
	opacity: 0.2;
	pointer-events: none;
}

.show-orphans {
	color: #c3bdc2;
	padding-left: 5px;
}
.show-orphans .fas {
	margin-right: 3px;
}

.show-orphans:hover {
	color: #eee;
	text-decoration: none;
}

.col-categories hr {
	border-color: rgba(255,255,255,0.2);
}

#jstree-dnd.jstree-default {
	color: #fff;
}

.btn-success {
	background-color: #4ab157;
}
.btn-danger {
	background-color: #ef4e4e;
}

.btn-secondary {
	background-color: #507996;
}

.btn-secondary,
.btn-success,
.btn-danger {
	border: none;
	border-radius: .1rem;
}
.btn-sm {
	padding: .3rem .5rem;
}

.pid-selection {
	font: .8rem/1 Lato, Verdana,Arial,Helvetica,sans-serif;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 8px 14px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: #604e63;
        color: #cbd7e0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #ffffff;
            background: #7e6881;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 12px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: #cbd7e0 transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #fffff;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}

.sword ~ .input-group-append .btn {
	background: #fff;
}





