{namespace VH=Nng\Nnfaq\ViewHelpers}

<f:layout name="Default"/>


<f:section name="main">

	<!--
		===========================================================================================
		EXT:nnfaq/Resources/Private/Templates/Question/Categories.html
	-->
	
    <div class="nnfaq nnfaq-categories">

		<f:section name="category-dropdown">
			<f:if condition="{branch.children}">
				<div class="dropdown nnfaq-catdropdown visible-xs">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="current-cat">{f:if(condition:curCategory, then:curCategory.category, else:'Bereich wählen')}</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu nnfaq-catselect">
						<f:render section="category-branch" arguments="{branch:branch, depth:'-1', curCategory:curCategory, curQuestion:curQuestion}" />
					</ul>
				</div>
			</f:if>
		</f:section>
		
		<f:section name="category-branch">
			{VH:variable.increment(name:'depth')}
			<f:for each="{branch.children}" as="child" iteration="i">
				<li class="lv-{depth} {f:if(condition:'{curCategory.uid} == {child.uid}',then:'active')} {f:if(condition:child.children, then:'children')}">
				
					<f:link.action data="{catuid:child.uid}" pageUid="{TSFE.id}" class="{f:if(condition:'{curCategory.uid} == {child.uid}',then:'active')} lv-{depth} nnfaq-link-cat" action="categories" arguments="{question:question.uid, category:child.uid}">
						{child.category}
					</f:link.action>
					
					<f:if condition="{child.children}">
						<ul class="lv-{depth}">
							<f:render section="category-branch" arguments="{branch:child, depth:depth, curCategory:curCategory, curQuestion:curQuestion}" />
						</ul>
					</f:if>
				</li>
			</f:for>
		</f:section>
		
		<div class="row">
			<div class="col-sm-4 col-md-3 col-nav">

				<nav class="nnfaq-nav">

					<f:render partial="SearchForm" arguments="{showNumberOfResults: showNumberOfResults, curCategory:curCategory, curQuestion:curQuestion}"/>

					<f:render section="category-dropdown" arguments="{branch:categoryTree.0, depth:'-1', curCategory:curCategory, curQuestion:curQuestion}" />

					<ul class="nnfaq-categories lv-0 hidden-xs">
						<f:render section="category-branch" arguments="{branch:categoryTree.0, depth:'-1', curCategory:curCategory, curQuestion:curQuestion}" />
					</ul>

				</nav>
			</div>
		
			<div class="col-sm-8 col-md-9 faq-categories {f:if(condition:curCategory, then:'filter-category')}">

				<f:render partial="Questions" section="category-questions" arguments="{prio:settings.showPrio, branch:categoryTree.0, curCategory:curCategory, curQuestion:curQuestion, showTitle:1}" />
				
			</div>
		
		</div>    
	
	</div>

</f:section>
