{namespace VH=Nng\Nnfaq\ViewHelpers}

<f:layout name="Default"/>


<f:section name="main">
	<!--
		===========================================================================================
		EXT:nnfaq/Resources/Private/Templates/Question/QuestionsOnly.html
	-->

    <div class="nnfaq nnfaq-questionsonly">

		<div class="faq-categories {f:if(condition:curCategory, then:'filter-category')}">
			<f:render partial="Questions" section="category-questions" arguments="{prio:settings.showPrio, branch:categoryTree.0, curCategory:curCategory, curQuestion:curQuestion, showTitle:0}" />
		</div>
		
	</div>

</f:section>