{namespace VH=Nng\Nnfaq\ViewHelpers}


<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{extPath}Resources/Backend/Css/jstree/style.min.css" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" type="text/css">
<link rel="stylesheet" href="{extPath}Resources/Backend/Css/style.css" type="text/css" />

<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{extPath}Resources/Backend/Js/jstree.min.js" type="text/javascript"></script>
<script src="{extPath}Resources/Backend/Js/jstree-grid.js" type="text/javascript"></script>
<script src="{extPath}Resources/Backend/Js/scripts.js" type="text/javascript"></script>

<div class="typo3-fullDoc full-height">
	<div id="typo3-docbody" class="full-height">
		<div id="typo3-inner-docbody" class="full-height">
			<f:render section="content" />
		</div>
	</div>
</div>

<!--f:render section="modal-views" /-->